* {
    padding: 0;
    margin: 0;
}

.main {
	display: flex;
	flex-direction: column;
	margin: 3em 4.5em;
}

.container {
	flex-wrap: wrap;
}

h1 {
	font-size: 40px;
    font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	line-height: 1em;
}

h2 {
	font-size: 20px;
    font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: .75em;
}

a {
	text-decoration: none;
	/* background-color: #333; */
	color: #333;
	border-bottom: 1px #333 dotted;
}

.g {
	color: #0F9D58;
	border-bottom: 1px #333 dotted;
}

.b {
	color: #4285F4;
	border-bottom: 1px #4285F4 dotted;
}

.p {
	color: #DB4437;
	border-bottom: 1px #DB4437 dotted;
}

.y {
	color: #F4B400;
	border-bottom: 1px #F4B400 dotted;
}

.o {
	color: #ff7518;
	border-bottom: 1px #ff7518 dotted;
}

p {
	margin-top: .75em;
}

hr {
	margin-top: 1.5em;
	border: 1px darkgrey dotted;
	max-width: 30em;
}

div {
	margin-top: 1.5em;
	max-width: 30em;
	line-height: 1.5em;
	font-size: 16px;
	font-family: 'Noto Sans', sans-serif;
	/* font-weight: light; */
}

#writing {
	margin-top: 1.5em;
}