* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {
	display: flex;
	flex-direction: column;
	margin: 3em 4.5em;
}

.container {
	flex-wrap: wrap;
}

h1 {
	font-size: 40px;
    font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	line-height: 1em;
}

h2 {
	font-size: 20px;
    font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: .75em;
}

a {
	text-decoration: none;
	background-color: #333;
	color: #fff;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding: 1px 3px;
}

.g {
	background-color: #0F9D58;
}

.b {
	background-color: #4285F4;
}

.p {
	background-color: #DB4437;
}

.y {
	background-color: #F4B400;
}

p {
	margin-top: .75em;
}

hr {
	margin-top: 1.5em;
	border: 1px darkgrey dotted;
	max-width: 30em;
}

div {
	margin-top: 1.5em;
	max-width: 30em;
	line-height: 1.5em;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

#writing {
	margin-top: 1.5em;
}